/* nav bar */
#navbar{
    height: 50px;
    background-color: white;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px
}
#navbar div{
    display: inline;
    float: left;
}
#navbar li{
    list-style: none;
    display: inline;
    float: right;
    height: 25px;
    width: 80px;
    border: none;
    border-radius: 16.5px;
    font-size: small;
    text-align: center;
    margin-left: 30px;
    padding-top: 10px;
}
#navbar a{
    color: #8F8F8F;
    text-decoration: none;
}
#navbar li:hover{
    height: 25px;
    width: 80px;
    border: none;
    border-radius: 16.5px;
    background-color: #D400E8;
}
#navbar a:hover{
    color: white;
}

/* middle */
#image{
    width: 85%;
    height: 250px;
    background-image: url(Untitled\ design.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: -15px;
    margin-left: -10px;
    margin-right: -10px
}
.dc{
    color: white;
}
#title{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 30px;
}
#paragraph{
    text-align: center;
    margin-top: -40px;
}
#button{
    height: 45px;
    width: 140px;
    border: solid 1.5px white;
    border-radius: 22.5px;
    background: none;
    font-size: x-small;
    margin-top: 10px;
} 

/* bottom */
#block{
    width: 103%;
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
}
.blocks{
    position: relative;
    height: 350px;
    width: 77.77%;
}
#b1{
    background-color: white;
}
#b2{
    background-color: #D900ED;
}
#b3{
    background-color: black;
}
.numbers{
    color: white;
    font-size: 120px;
    font-weight: lighter;
    position:absolute;
    top: -55px;
    right: 5px;
    opacity: 20%;
}
.subtitles{
    color: whitesmoke;
    margin-top: 50px;
    margin-left: 50px;
}
.subtitles h1{
    font-size: x-large;
    font-weight: lighter;
}
.paragraphs{
    color: whitesmoke;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 25px;
}
hr{
    height: 3px;
    width: 14%;
    border: none;
    background-color: whitesmoke;
    margin-left: 1px;
}